{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Register</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

